<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/sign_up.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>

    <nav class="navbar">
      <div class="container">
        <ul style="word-spacing:30px; text-decoration:none; color:black;">
          <b><a href="/" style="color:white;">Home</a></b>
          <b><a href="/archives"style="color:white;">Archives</a></b>
          <b><a href="/create"style="color:white;">New-Post</a></b>
          <b><a href="/contact"style="color:white;">Contact</a></b>
          <b><a href="/login"style="color:white;">login</a></b>
          <b><a href="/sign_up"style="color:white;">Sign Up</a></b>
        </ul>
      </div>
    </nav>



    <script src="https://use.fontawesome.com/1dec14be15.js"></script>
    <div class="container-fluid stylish-form">
      <h2 class="text-center">Stylish Signup Page Using Bootstrap</h2>
      <div class="row mar20" >
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="inner-section">
            <form method="POST" action="/sign_up">
              <div class="mar20 inside-form">
                <h2 class="font_white text-center">SIGN UP</h2>
                <ul>
                  <li class="icon-holder dsp-flex">
                    <i class="fa fa-facebook "></i>
                  </li>
                  <li class="icon-holder dsp-flex">
                    <i class="fa fa-twitter "></i>
                  </li>
                  <li class="icon-holder dsp-flex">
                    <i class="fa fa-instagram "></i>
                  </li>
                </ul>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pencil "></i></span>
                  <input type="text" class="form-control" name="text" placeholder="First Name...">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                  <input type="email" class="form-control" name="text" placeholder="Email...">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock "></i></span>
                  <input type="password" class="form-control" name="text" placeholder="Password...">
                </div>
                <div class="footer text-center">
                <button type="submit" name="button" method="POST">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <h2 class="text-center font_white">Thank You For Visiting My Blog</h2>
    </div>

  </body>
</html>
