body {
  padding: 50px;
  font: 14px "sans-serif", Helvetica, Arial, sans-serif;
}

.navbar{
  background-color: hotpink;
  color:white;
  padding: 20px;
  border-radius: 4px;
  margin-left: -90px;
  margin-right: -90px;
  margin-top: -50px;

}
a{
  color: white;
}



.row1{
  padding: 130px;
  margin: -35px;
  margin-top: -37px;
  margin-bottom: 20px;
  margin-left: -96px;
  margin-right: -136px;
  background-image: url(../images/make-up.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: grey;
  font-family: Baskerville Old Face;
  text-align: right;
  color: #FF3A97;

}

h1{
  font-size: 36px;
  font-weight: 900px;
  text-align: center;
  margin-left: 10px;
  margin-top: 62px;
  color: grey;
}

form{
  /* border: 1px solid grey;
  padding: 50px;
  font-weight: bold;
  background-color: pink;
  border-radius: 6px; */

  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: pink;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: grey;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
}

button{
  background-color:#FF3A97;
  color: grey;
  font-family: monospace;
}

.row3{
  background-color: hotpink;
  color: white;
  height: 80px;
}
