body {
  padding: 50px;
  font: 14px "sans-serif", Helvetica, Arial, sans-serif;
}

.navbar{
  background-color: pink;
  color:white;
  padding: 20px;
}

.row1{
  padding: 200px;
  background-image: url(../images/make-up.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: grey;
  font-family:Baskerville Old Face;
  text-align:right;
  color:#FF3A97;

}

h1{
  font-size: 36px;
  font-weight: 900px;
  text-align: center;
  margin-left: 10px;
  margin-top: 62px;
  color: grey;
}

form{
  border: 1px solid grey;
  padding: 50px;
  font-weight: bold;
  background-color: pink;
  border-radius: 6px;
}

button{
  background-color:#FF3A97;
  color: grey;
  font-family: monospace;
}
